@import '../../styles/variables';

.groupInfo {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  line-height: 75px;
  color: nth($gray, 1);
  .number {
    font-family: inherit;
    font-size: 64px;
    font-weight: bold;
  }
}

.today {
  background-color: nth($blue, 3);
  height: 100vh;
  overflow: hidden;
  .climate {
    position: relative;
    height: 400px;
    .svg {
      position: absolute;
      content: '';
      width: 200px;
      height: auto;
      opacity: 0.1;
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          top: $i * 20%;
        }
      }
      &:nth-child(odd) {
        right: 80%;
      }
      &:nth-child(even) {
        left: 80%;
      }
    }

    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 42px 46px;

      button {
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba($black, 0.25);
        &:first-of-type {
          background: #6e707a;
          padding: 10px 18px;
          font-family: 'Raleway', sans-serif;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #e7e7eb;
          border: 0;
        }
        &:last-of-type {
          background: rgba($white, 0.2);
          border-radius: 50%;
          border: 0;
          width: 40px;
          height: 40px;
          outline: none;
          display: flex;
          align-items: center;
          justify-content: center;
          &:focus {
            box-shadow: 0 0 3px nth($white, 1);
          }
          svg {
            width: 22px;
            fill: #e7e7eb;
          }
        }
      }
    }
  }

  .todayTemp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 87px;
    img {
      width: 100%;
      max-width: 200px;
    }
    .degrees {
      @extend .groupInfo;
      .number {
        display: inline-block;
        font-size: 144px;
      }
    }
    p {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: nth($gray, 2);
    }
  }
}
