@import '../styles/variables';

.container {
  .main {
    display: grid;
    grid-template-columns: 1fr 3fr;

    .today {
      background-color: nth($blue, 3);
      height: 100vh;
      overflow: hidden;
      .climate {
        position: relative;
        height: 800px;
        .svg {
          position: absolute;
          content: "";
          width: 300px;
          height: auto;
          opacity: .3;
          @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
              top: $i * 20%;
            }
          }
          &:nth-child(odd) {
            right: 70%;
          }
          &:nth-child(even) {
            left: 70%;
          }
        }
      }
    }

    .week {
      background: nth($blue, 5);
      padding: 42px 130px;

      .degrees {
        display: flex;
        justify-content: flex-end;
        margin: 42px 0px;

        button {
          background: nth($blue, 2);
          border-radius: 50%;
          width: 40px;
          height: 40px;
          border: 0;
          font-family: 'Raleway', sans-serif;
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;

          + button {
            margin-left: 12px;
          }

          &.active {
            background: nth($gray, 1);
          }
        }
      }

      .currentWeek {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 26px;
      }

      .title {
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: nth($gray, 1);
        margin-top: 72px;
        margin-bottom: 32px;
      }

      .columnFour {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 48px;

      }
    }
  }
}

.cardWeek {
  img {
    max-width: 56px;
    margin-top: 12px;
  }
  .temp {
    display: flex;
    span {
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: nth($gray, 2);
      margin-top: 32px;

      &.max {
        color: nth($gray, 1);
      }
      + span {
        margin-left: 16px;
      }
    }
  }
}

.groupInfo {
  font-family: "Raleway",sans-serif;
  font-size: 40px;
  line-height: 75px;
  color: nth($gray, 1);
  .number{
    font-family: inherit;
    font-size: 64px;
    font-weight: bold;
  }
}


.windStatus {
  .direction {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-top: 16px;
    .icon{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(nth($white, 1), 0.3);
      padding: 12px;
    }
    span {
      display: inline-block;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color:nth($gray, 1);
    }
  }
}


.humidity {
  .progress {
    margin-top: 16px;
    min-width: 200px;
    p {
      margin: 0;
      top: unset;
      right: 0;
      bottom: 0;
      color: nth($gray, 2);
    }
  }
}
